@import "tailwindcss";

@theme {
  --color-primary-100: #cbd5e1;
  --color-primary-200: #94a3b8;
  --color-primary-300: #64748b;
  --color-primary-400: #475569;
  --color-primary-500: #334155;
  --color-primary-600: #1e293b;
  --color-primary-700: #0a1a30;
  --color-primary-800: #0a0f1c;
  --color-primary-900: #070c16;
  --color-primary-950: #04070d;

  --color-secondary-100: #dcccb4;
  --color-secondary-200: #c1a48f;
  --color-secondary-300: #a88674;

  --font-manrope: var(--font-manrope);
  --font-playfair-display: var(--font-playfair-display);
}
